# Ignore everything in the root directory by default
/*

# Whitelist Admin Tools
!/GEMINI.md
!/scripts/
!/work_orders/
!/.gitignore
!/doc/

# Whitelist Rust Project Files
!/Cargo.toml
!/Cargo.lock
!/src/
!/README.md