# Ignore everything by default
/*

# Whitelist Admin Tools & Config
!/.markdownlint.json
!/.markdownlintignore
!/.gemini/
!/.geminiignore
!/.gitignore
!/Cargo.toml
!/Cargo.lock
!/Justfile
!/README.md
!/dprint.json
!/conductor/
!/conductor/**
!/images/

# Whitelist Source Code
!/bin/
!/crates/
!/scripts/
!/docs/

# Rust Ignore (Standard)
target/
**/*.rs.bk